.logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  &__wrap {
    padding: 19px 0 17px;
    background: $peach;
  }
  &__icon {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 54.5px;
      top: 8px;
      background: $orange;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
  }
  &__text {
    color: $dark;
    font-size: 13.47px;
    @extend %normal;
    margin: 0;
  }
}
