@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamPro.eot');
  src: local('../fonts/Gotham Pro Bold'), local('GothamPro-Bold'),
    url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro-Bold.woff') format('woff'),
    url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.eot');
  src: local('../fonts/Gotham Pro'), local('GothamPro'),
    url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GothamPro.woff') format('woff'),
    url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
